@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1px;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 480px) {
  body {
    background-color: #FFEFEF;
  }
  .header__nav {
    margin-top: 52px;
    margin-bottom: 30px;
  }
  .header__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__select {
    background-color: #FFEFEF;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
  }
  .header__svg {
    height: 20px;
    width: 20px;
  }
  .header__search {
    display: flex;
    margin-bottom: 26px;
    padding: 0 40px;
  }
  .header__photo {
    margin-right: 1px;
  }
  .header__form {
    margin-left: 17px;
    width: 100%;
  }
  .header__input {
    width: 100%;
    height: 53px;
    background: #FFFFFF;
    border-radius: 8px;
    padding-left: 41px;
  }
  .recomended__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
  }
  .recomended__pretitle {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #000000;
  }
  .homepage-main {
    padding-bottom: 100px;
  }
  .category {
    padding: 0 40px;
  }
  .category__tittle {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
  }
  .category__pretitle {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #000000;
    margin-bottom: 15px;
  }
  .category__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .category__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69px;
    width: 69px;
    background-color: #FFFFFF;
    border-radius: 50%;
  }
  .category__link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .category__svg {
    width: 35px;
    height: 35px;
  }
  .menu__list-categories {
    display: flex;
    padding-top: 35px;
    padding-bottom: 25px;
    position: relative;
  }
  .menu__item-categories {
    position: relative;
  }
  .menu__link-categories {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
  }
  .underline::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    border-radius: 2px;
    margin-bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: rgb(0, 0, 0);
  }
  .menu__item-food {
    padding: 0 57px 15px;
  }
  .menu__img-food {
    display: flex;
    border-radius: 12px;
    margin-bottom: 13px;
    width: 100%;
  }
  .menu__list-descr {
    display: flex;
    justify-content: space-between;
  }
  .menu__item-descr {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #000000;
  }
  .menu__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #000000;
  }
  .menu__price {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #000000;
  }
  .menu__btn-order {
    width: 60px;
    height: 25px;
    background-color: #F8BEB6;
    color: #FC6D6D;
    border-radius: 8px;
  }
  .footer {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #FFFFFF;
    box-shadow: -3px 1px 33px 1px #858282;
    position: fixed;
    width: 100%;
    bottom: 0px;
  }
  .footer__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__item {
    width: 21px;
    height: 21px;
    margin: 0px 15px;
  }
  .footer__svg {
    width: 21px;
    height: 21px;
  }
  .swiper {
    width: 100%;
    height: 285px;
    overflow: hidden;
  }
  .swiper__img {
    border-radius: 12px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background: #ffefef;
    transition: all 0.3s ease;
    border-radius: 12px;
  }
  .swiper-slide.swiper-slide-active {
    color: #fff;
    transform: scale(1.4);
    z-index: 2;
    border-radius: 12px;
  }
  .action {
    width: 354px;
    height: 70px;
  }
  .action-list {
    display: flex;
    align-items: center;
  }
  .action-item {
    display: flex;
  }
  .action-img {
    border-radius: 10px;
  }
  .action-name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #000000;
    padding-bottom: 10px;
  }
  .action-rews {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #000000;
  }
  .action-price {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: line-through;
    font-feature-settings: "tnum" on, "lnum" on;
    color: #ABABAB;
  }
  .action-newprice {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    text-decoration-line: none;
  }
  .counter-div {
    width: 70px;
    height: 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
  }
  .counterbtn {
    background-color: #fff;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    height: 241px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Rectangle\ 14.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero__list-head {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-left: 28px;
    padding-right: 35px;
  }
  .hero__timer-list {
    display: flex;
    align-items: center;
  }
  .hero__timer-item {
    padding-left: 94px;
    padding-right: 24px;
  }
  .hero__rews-item {
    padding-right: 82px;
  }
  .hero__timer {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 64px;
    height: 25px;
    background-color: #FC6D6D;
    border-radius: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
  }
  .hero__rews {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
  }
  .hero__svg {
    height: 20px;
    width: 21px;
  }
  .hero__name {
    padding-top: 33px;
    padding-bottom: 28px;
  }
  .hero__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 6px;
  }
  .hero__descr {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
  }
  .hero__list-menu {
    display: flex;
    justify-content: center;
    gap: 41px;
  }
  .hero__main {
    padding-bottom: 50px;
  }
  .hero__category-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 27px;
    padding: 21px 0;
  }
  .hero__category-link {
    position: relative;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #000000;
  }
  .underline::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    border-radius: 2px;
    margin-bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: #ffc000;
  }
  .hero__action {
    margin: 0 30px;
  }
  .hero__action-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 21px;
  }
  .hero__action-item {
    display: flex;
  }
  .hero__action-img {
    border-radius: 10px;
  }
  .hero__action-name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #000000;
    margin-bottom: 15px;
    width: 85px;
  }
  .hero__action-namelist {
    display: flex;
    padding-left: 6px;
    padding-right: 23px;
  }
  .hero__action-rews {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: orange;
    padding-left: 15px;
  }
  .hero__action-price {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: line-through;
    font-feature-settings: "tnum" on, "lnum" on;
    color: #ABABAB;
  }
  .hero__action-newprice {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
    position: absolute;
    padding-left: 8px;
  }
  .hero__counter-div {
    width: 70px;
    height: 30px;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero__counterbtn {
    background-color: #fff;
    padding: 0 10px;
  }
  .footer__logo {
    position: relative;
    bottom: 56px;
    right: 20px;
    filter: drop-shadow(-1px 0px 31px #FC6767);
  }
  .container {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    padding: 0px 10px 32px;
    gap: 12px;
    scroll-padding: 10px;
  }
  .img-slider {
    border-radius: 10px;
  }
  .container .item-slider {
    flex: 0 1 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}
@media screen and (min-width: 481px) {
  body {
    display: none;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(237, 71, 71, 0.5);
  }
  70% {
    box-shadow: 0 0 0 80px rgba(220, 69, 69, 0.5);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(234, 58, 58, 0.4);
  }
}/*# sourceMappingURL=main.css.map */