@media screen and (max-width: 480px){
.hero {
    height: 241px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Rectangle\ 14.jpg);    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero__nav {
}
.hero__list-head {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    // gap: 96px;
    padding-left: 28px;
    padding-right: 35px;
}
.hero__item-head {
}
.hero__timer-list{
    display: flex;
    align-items: center;
}
.hero__timer-item{
    padding-left: 94px;
    padding-right: 24px;
}
.hero__rews-item{
    padding-right: 82px;

}
.hero__timer {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 64px;
    height: 25px;
    background-color: #FC6D6D;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
}
.hero__rews {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
}
.hero__svg{
    height: 20px;
    width: 21px;
}
.hero__name{
    padding-top: 33px;
    padding-bottom: 28px;
}
.hero__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 6px;
}
.hero__descr {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}
.hero__list-menu {
    display: flex;
    justify-content: center;
    gap: 41px;
}
.hero__item-menu {
}
}